<!-- Page Content -->
<div class="vertical-center welcome">
	<div class="container">
		<div class="row row-centered">
			<h3>Summary</h3>
			<div class="config block">
				<div class="tab-content">
					<!-- 1st Block of tab-content -->
					<div class="tab-pane active" id="home">
						<div class="container">
							<div class="col-md-3 col-xs-6">
								<div class="config-one-item animated animation fadeInDown">
									<a href="#"><i class="glyphicon glyphicon-usd red"></i></a>
									<h2>$1,500</h2>
									<p class="br-red">Net Sales</p>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="config-one-item animated animation fadeInDown">
									<a href="#"><i class="glyphicon glyphicon-glass green"></i></a>
									<h2>51</h2>
									<p class="br-green">Covers</p>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="config-one-item animated animation fadeInDown">
									<a href="#"><i class="glyphicon glyphicon-unchecked red"></i></a>
									<h2>11</h2>
									<p class="br-red">Open Tables</p>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="config-one-item animated animation fadeInDown">
									<a href="#"><i class="glyphicon glyphicon-user red"></i></a>
									<h2>7</h2>
									<p class="br-red">Employees Checked In</p>
								</div>
							</div>
						</div>
					</div>
				</div><!--/row-->
			</div>
		</div>
	</div>
</div>
<!-- /#page-content-wrapper