<h3 class="text-center">Add Menu</h3>
<div class="analytics-main col-md-offset-2 col-md-8">
    <div ng-show="formSubmit">
        <div id="formAlert" class="alert alert-success text-center" ng-show="formSubmit && formSuccess">  
          <strong>Success!</strong> Menu has been created.
        </div>
        <div id="formAlert" class="alert alert-danger text-center" ng-show="formSubmit && !formSuccess">  
            <strong>Error!</strong> Please fill out form again.
        </div>
    </div>
    <form role="form">
        <div>
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Menu name" ng-model="addMenuForm.menuName" required>
            </div>
            <div class="text-center">
                <button type="button" id="submit" name="submit" class="btn btn-danger" ng-click="cancelMenu()">Cancel</button>
                <button type="button" id="submit" name="submit" class="btn btn-default" ng-click="createMenu()">Create</button>
            </div>
        </div>
    </form>
</div>
